# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Environments
.env
.venv

# VSCode
.vscode/

# TensorBoard logs (optional, depending on your needs)
btc_rl/logs/
btc_rl/data/

# Models (optional, depending on your needs)
btc_rl/models/
btc_rl/metrics/
btc_rl/reports/
model_backups/

# Data files (you may want to include or exclude these)
# btc_rl/data/*.npz

# PyCharm
.idea/

# OS specific
.DS_Store
Thumbs.db
